{% extends "graphbuilder.html" %}
{% set page_name = "barchart" %}
{% set active_page = "barchart" %}

{% block graph %}
    <div class="card-header">
        Bar Chart
    </div>
     <div class="card-body">
         <form action="{{ url_for('barchart') }}" method="POST">
    <div class="form-group">
    <div class="input-group">
        <div class="input-group-prepend">
        <div class="input-group-text"> X axis </div>
        </div>
        <select class="custom-select" name="xcol" required>
            <option value="">- Select Columns -</option>
            {% for col in columns %}
                <option value="{{ col }}" name="x">{{ col }}</option>
            {% endfor %}
        </select>
    </div>
    <br>
    <div class="input-group">
        <div class="input-group-prepend">
        <div class="input-group-text"> Y axis </div>
        </div>
        <select class="custom-select" name="ycol" required>
            <option value="">- Select Columns -</option>
            {% for col in columns %}
                <option value="{{ col }}" name="y">{{ col }}</option>
            {% endfor %}
        </select>
    </div>
    <br>
       <input type="submit" class="btn btn-outline-primary" value="Apply">  </input>
    <br>
    </div></form>
     <div class="chart" id="scatterplot">
        <script>
            var graphs = {{ plot | safe }};
            Plotly.newPlot('scatterplot', graphs.data, graphs.layout);
        </script>
    </div>

  </div>

{% endblock %}